@model MessagesDetailsViewModel
@inject IUserService UsersService

@{
    var currentUserId = UsersService.GetCurrentUserId();
}

<h3 class="text-center mb-4"><a asp-controller="Ads" asp-action="Details" asp-route-id="@Model.OfferId">@Model.OfferTitle</a></h3>
<div id="messages">
    @foreach (var message in Model.Messages)
    {
        <div class="card-body msg_card_body">
            <p>
                @if (message.Sender == User.Identity.Name)
                {
                    <div class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">
                            @message.Content/
                            @message.Sender
                            <span class="msg_time_send">@message.SentOn</span>
                        </div>
                        <div class="img_cont_msg">
                            <img src="@Model.SideA.ProfilePicUrl" class="rounded-circle user_img_msg" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            <img src="@Model.SideB.ProfilePicUrl" class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                            @message.Content/
                            @message.Sender
                            <span class="msg_time">@message.SentOn</span>
                        </div>
                    </div>
                }
            </p>
        </div>
    }
</div>
<div class="row">
    <div class="offset-2 col-8">
        <vc:send-message-component view-model="@Model.InputModel">
        </vc:send-message-component>
    </div>
</div>

@section Scripts{
    <script src="~/js/message-signalr.js" asp-append-version="true"></script>
}