
@using MiddleMan.Web.ViewModels.ViewModels
@model HomeViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">MiddleMan</h1>
            <div class="list-group">
                @foreach (var category in Model.Categories)
                {
                    <a href="/Home/Category?name=@category.Name" class="list-group-item">@category.Name</a>
                }
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.FeaturedOffers.Count; i++)
                    {
                        if (i == 0)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="active"></li>
                        }
                        else
                        {

                            <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                        }
                    }
                </ol>
                <div class="carousel-inner" role="listbox" style="background-color:darkgray;">

                    @for (int i = 0; i < Model.FeaturedOffers.Count; i++)
                    {
                        if (i == 0)
                        {
                            <div class="carousel-item active" style="height:350px;">
                                @*<img class="d-block img-fluid" src="@offer.PicUrl" alt="Slide">*@
                                <a href="@Model.FeaturedOffers[i].ClickUrl">
                                    <img class="d-block img-fluid" src="@Model.FeaturedOffers[i].PicUrl" alt="" style="margin:auto; max-width:100%; max-height:100%; height:auto; width: auto;">
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item" style="height:350px;">
                                @*<img class="d-block img-fluid" src="@offer.PicUrl" alt="Slide">*@
                                <a href="@Model.FeaturedOffers[i].ClickUrl">
                                    <img class="d-block img-fluid" src="@Model.FeaturedOffers[i].PicUrl" alt="" style="margin:auto; max-width:100%; max-height:100%; height:auto; width: auto;">
                                </a>
                            </div>
                        }
                    }
                    @*<div class="carousel-item">
                    <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
                </div>*@
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <h2 class="my-4">Latest offers:</h2>
            <div class="row">


                @foreach (var offer in Model.LatestOffers)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a style="height:150px; margin:auto" href="@offer.ClickUrl"><img class="card-img-top" src="@offer.PicUrl" alt="" style="max-width:100%; max-height:100%; height:auto; width: auto;"></a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="@offer.ClickUrl">@offer.Name</a>
                                </h5>
                                <h5>$@offer.Price</h5>
                                <h6>@offer.CategoryName</h6>
                                <p class="card-text" style="height: 75px;">@offer.Description
                                <p class="" style="text-align:right;">
                                    <a href="@offer.ClickUrl">Read more</a>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
