@model UserProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/css/viewprofile.css" rel="stylesheet" asp-append-version="true" />
    <!------ Include the above in your HEAD tag ---------->
    </head>
<body>
    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        @if (Model.User.ProfilePictureUrl == null)
                        {
                            <img src="https://i.imgur.com/56lPbUe.png" alt="profile picture" class="img-responsive profimg" />
                        }
                        else
                        {
                            <img src="@Model.User.ProfilePictureUrl" alt="profile picture" class="img-responsive profimg" />
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            @Model.User.UserName
                        </h5>
                        <h6>
                            User
                        </h6>
                        <p class="proile-rating">
                            RATING :
                            @if (@Model.AverageRate != 0)
                            {
                                <span>@Model.AverageRate/5</span>
                            }
                            else
                            {
                                <span>No Rating Yet</span>
                            }
                        </p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Active Offers</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>WORK LINK</p>
                        <a href="">Website Link</a><br />
                        <a href="">Bootsnipp Profile</a><br />
                        <a href="">Bootply Profile</a>
                        <p>SKILLS</p>
                        <a href="">Web Designer</a><br />
                        <a href="">Web Developer</a><br />
                        <a href="">WordPress</a><br />
                        <a href="">WooCommerce</a><br />
                        <a href="">PHP, .Net</a><br />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Username</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Model.User.UserName</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Name Name</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Model.User.Email</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Model.User.PhoneNumber</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Registered On:</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Model.User.CreatedOn</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


                            @foreach (var offer in Model.UserOffers)
                            {
                                <div class="col-lg-5 col-md-6 mb-4" style="display: inline-block;">
                                    <div class="card h-100">
                                        <a style="height:150px; margin:auto" href="@offer.ClickUrl"><img class="card-img-top" src="@offer.PicUrl" alt="" style="max-width:100%; max-height:100%; height:auto; width: auto;"></a>
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <a href="@offer.ClickUrl">@offer.Name</a>
                                            </h5>
                                            <h5>$12</h5>
                                            <p class="card-text" style="height: 75px;">@offer.Description
                                            <p class="" style="text-align:right;">
                                                <a href="@offer.ClickUrl">Read more</a>
                                            </p>
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">@offer.StartsStringRating</small>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.UserOffers.Count == 0)
                            {
                                <h2>The user doesn't have any active offers</h2>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>