@model SendMessageInputModel


<div class="card-footer">
    <div class="input-group">
        <textarea asp-for="@Model.Content" id="message-content" class="form-control type_msg" placeholder="Type your message..."></textarea>
        <span asp-validation-for="@Model.Content" class="text-danger"></span>

        <input asp-for="@Model.OfferId" type="hidden" value="@Model.OfferId" />
        <input asp-for="@Model.SenderId" type="hidden" value="@Model.SenderId" />
        <span asp-validation-for="@Model.SenderId" class="text-danger"></span>
        <input asp-for="@Model.RecipientId" type="hidden" value="@Model.RecipientId" />
        <div class="input-group-append">
            <button class="input-group-text send_btn"><i class="fa fa-paper-plane"></i></button>
        </div>
    </div>
</div>