@using MiddleMan.Web.ViewModels.ViewModels.Offer
@model DetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">MiddleMan</h1>
            <div class="list-group">
                @foreach (var category in Model.Categories)
                {
                    @if (category.Name == Model.CategoryName)
                    {
                        <a href="/Home/Category?name=@category.Name" class="list-group-item bg-primary text-white">@category.Name</a>
                    }
                    else
                    {
                        <a href="/Home/Category?name=@category.Name" class="list-group-item">@category.Name</a>
                    }
                }
            </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            @*<a href="/Home/Category?name=@Model.CategoryName" style="height:30px; padding-top: 0px;" class="btn btn-primary hBack text-white"><img style="max-width:100%; max-height:80%; height:auto; width: auto;" src="https://pngimage.net/wp-content/uploads/2018/05/back-icon-png-white-6.png"/>Go back</a>*@
            <div class="card mt-4">
                <div style="height:400px; margin:auto">
                    <img style="max-width:100%; max-height:100%; height:auto; width: auto;" class="card-img-top img-fluid" src="@Model.Offer.PicUrl" alt="">
                </div>
                <div class="card-body">
                    <h3 class="card-title">@Model.Offer.Name</h3>
                    <h4>Price: $@Model.Offer.Price</h4>
                    <p class="card-text">@Model.Offer.Description</p>
                    @*<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>*@
                    <span class="text-warning">@Model.Offer.StartsStringRating</span>
                    @Model.Offer.OfferRating stars (Average)
                    <a href="/Offer/Buy?id=@Model.Offer.Id" class="btn btn-success buy">Buy ($@Model.Offer.Price)</a>
                </div>
            </div>
            <!-- /.card -->
                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Product Reviews
                    </div>
                    <div class="card-body">
                        @foreach (var comment in Model.Offer.Comments)
                        {
                            <p>@comment.Description</p>
                            <small class="text-muted">Posted by <a href="/User/Profile?id=@comment.CreatorId">@comment.CreatorName</a> on @comment.CreatedOn</small>
                            if (comment.RatingGiven != null)
                            {
                                <small class="text-muted">Rated: @comment.RatingGiven</small>
                            }
                            <hr>
                        }
                        <form method="post" asp-controller="Offer" asp-action="AddReview"  asp-route-id=@Model.Offer.Id>
                            <div class="controls">
                                <h4>Leave review</h4>
                                @if (Model.Offer.Rated)
                                {
                                    <select asp-for="@Model.InputModel.Rating" class="form-control">
                                        @switch (Model.UserRated)
                                        {
                                            case 1:
                                                <option selected="selected" value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                break;
                                            case 2:
                                                <option value="1">1</option>
                                                <option selected="selected" value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                break;
                                            case 3:
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option selected="selected" value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                break;
                                            case 4:
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option selected="selected" value="4">4</option>
                                                <option value="5">5</option>
                                                break;
                                            case 5:
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option selected="selected" value="5">5</option>
                                                break;
                                        }
                                    </select>
                                }
                                @if (!Model.Offer.Rated)
                                {
                                    <select asp-for="@Model.InputModel.Rating" class="form-control">
                                        <option selected="selected" disabled="disabled">--Rating(1-5)--</option>"
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                }
                                <textarea asp-for="@Model.InputModel.Review" rows="4" style="margin-bottom: 10px" class="input-md textinput textInput form-control" maxlength="1000" placeholder="Review..." type="text"></textarea>
                            </div>
                            <input type="submit" value="Post Review" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>

