@model EditViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container">

    <div class="row">

        <div class="col-lg-3">
            @*<h1 class="my-4">MiddleMan</h1>
                <div class="list-group">
                    @foreach (var category in Model.Categories)
                    {
                        @if (category.Name == Model.CategoryName)
                        {
                            <a href="/Home/Category?name=@category.Name" class="list-group-item bg-primary text-white">@category.Name</a>
                        }
                        else
                        {
                            <a href="/Home/Category?name=@category.Name" class="list-group-item">@category.Name</a>
                        }
                    }
                </div>*@
        </div>
        <!-- /.col-lg-3 -->
        @*@await Html.PartialAsync("_StatusMessageCustom", Model.InputModel.StatusMessage)
            @try
            {
                <partial name="_StatusMessage" model="Model.StatusMessage" />
            }
            catch (Exception)
            {
            }*@
        <form id="create-form" asp-controller="Offer" asp-action="Edit" asp-route-id="@Model.Offer.Id" class="form-horizontal" method="post" enctype="multipart/form-data" style="width: 65%;">
            <div class="col-lg-9">
                @*<a href="/Home/Category?name=@Model.CategoryName" style="height:30px; padding-top: 0px;" class="btn btn-primary hBack text-white"><img style="max-width:100%; max-height:80%; height:auto; width: auto;" src="https://pngimage.net/wp-content/uploads/2018/05/back-icon-png-white-6.png"/>Go back</a>*@
                <div class="card mt-4">
                    <div style="height:400px; margin:auto">
                        <img style="height: 72%; object-fit: contain; width: auto;" class="card-img-top img-fluid" src="@Model.Offer.PicUrl" alt="">
                    </div>

                    <h5>Change Photo</h5>
                    <i class="fa fa-upload"></i> Upload
                    <input asp-for="InputModel.Photo" type="file" class="form-control" accept="image/*" id="image-input" />

                    <span asp-validation-for="InputModel.Photo" class="text-danger"></span>

                    <div class="card-body">
                        <h4>Title: </h4>
                        <h3 class="card-title"><input type="text" required minlength="3" maxlength="50" asp-for="@Model.InputModel.Name" style="width:100%;" value="@Model.Offer.Name" /></h3>

                        <h4 @*asp-for="CreateOfferModel.CategoryId"*@ class="required">Choose Category</h4>
                        <select asp-for="@Model.InputModel.CategoryName" class="form-control" required>
                            @foreach (var category in Model.Categories)
                            {
                                if (Model.Offer.CategoryName == category.Name)
                                {
                                    <option selected="selected" value="@category.Name">@category.Name</option>
                                }
                                else
                                {
                                    <option value="@category.Name">@category.Name</option>
                                }
                            }
                            <vc:categories-dropdown>
                            </vc:categories-dropdown>
                        </select>
                        <h4>Price ($): </h4>
                        <p><input type="number" required min="0.01" max="2000" step="0.01" asp-for="@Model.InputModel.Price" style="width:100%;" value="@Model.Offer.Price" /></p>

                        <h4>Key/Account/Password</h4>
                        <h3 class="card-title"><input type="text" required minlength="3" maxlength="500" asp-for="@Model.InputModel.BuyContent" style="width:100%;" value="@Model.Offer.BuyContent" /></h3>

                        <h4>Description: </h4>
                        <p class="card-text">
                            <textarea rows="6" required minlength="20" maxlength="1000" style="width:100%;" id="@Html.IdFor(m => m.InputModel.Description)" name="@Html.NameFor(m => m.InputModel.Description)">@Model.Offer.Description</textarea>
                        </p>
                        @*<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>*@
                        <span class="text-warning">@Model.Offer.StartsStringRating</span>
                        @Model.Offer.OfferRating stars (Average)
                    </div>
                    <input id="submit-btn" type="submit" value="Save Changes" class="btn btn-success" />
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->
        </form>
    </div>

</div>


@section Scripts{
    <script src="~/js/input-validations-offer-edit.js" asp-append-version="true"></script>
}