@using MiddleMan.Web.ViewModels.ViewModels.Offer
@model DetailsViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container">

    <div class="row">

        <div class="col-lg-3">
            @*<h1 class="my-4">MiddleMan</h1>
                <div class="list-group">
                    @foreach (var category in Model.Categories)
                    {
                        @if (category.Name == Model.CategoryName)
                        {
                            <a href="/Home/Category?name=@category.Name" class="list-group-item bg-primary text-white">@category.Name</a>
                        }
                        else
                        {
                            <a href="/Home/Category?name=@category.Name" class="list-group-item">@category.Name</a>
                        }
                    }
                </div>*@
        </div>
        <!-- /.col-lg-3 -->

        <form class="form-horizontal" asp-controller="Offer" asp-action="CreateOffer" method="post" enctype="multipart/form-data">
            <div class="col-lg-9">
                @*<a href="/Home/Category?name=@Model.CategoryName" style="height:30px; padding-top: 0px;" class="btn btn-primary hBack text-white"><img style="max-width:100%; max-height:80%; height:auto; width: auto;" src="https://pngimage.net/wp-content/uploads/2018/05/back-icon-png-white-6.png"/>Go back</a>*@
                <div class="card mt-4">
                    <div style="height:400px; margin:auto">
                        <img style="max-width:100%; max-height:100%; height:auto; width: auto;" class="card-img-top img-fluid" src="@Model.Offer.PicUrl" alt="">
                    </div>
                    <div class="card-body">
                        <h4>Title: </h4>
                        <h3 class="card-title"><input type="text" style="width:100%;" value="@Model.Offer.Name" /></h3>
                        <h4>Price ($): </h4>
                        <p><input type="number" style="width:100%;" value="@Model.Offer.Price" /></p>
                        <h4>Description: </h4>
                        <p class="card-text">
                            <textarea style="width:100%;">@Model.Offer.Description</textarea>
                        </p>
                        @*<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>*@
                        <span class="text-warning">@Model.Offer.StartsStringRating</span>
                        @Model.Offer.OfferRating stars (Average)
                    </div>
                    <input type="submit" value="Save Changes" class="btn btn-success" />
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->
        </form>
    </div>

</div>



